<h1 class=" p-3 text-xl rounded-top" style="background-color: #03AED2">To Do List</h1>

<div>
  <form [formGroup]="detailsFormGroup" class=" p-3 rounded-bottom" style="background-color: #f8d594; ">

      <div class="mb-3 ">

      <input type="text" class="form-control" placeholder="Title" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">

    </div>
    <div class="mb-3">

      <input type="text" class="form-control" placeholder="Description" id="exampleInputPassword1" formControlName="description">
    </div>



  </form>
  <button type="submit" class="btn  float-end mt-1 mb-2 me-1" style="background-color: #03AED2 "(click)="isEdit ? handleComplete($event) : handleSubmit()">
    {{ isEdit ? 'Update' : 'Submit' }}
  </button>


</div>
<div class="mt-5">
  <h2 class="p-3 text-l">Pending Tasks...</h2>

  <div *ngFor="let detail of allDetails">
    <app-taskCard [title]="detail.title" [description]="detail.description" [id]="detail.id" (updateClicked)="updateDetail($event)" (deleteClicked)="deleteDetail($event)"></app-taskCard>
  </div>



</div>


